/************************PAGE CSS POUR LES OPTIONS DE BASE************************/

body
{
	padding-top: 70px;
	background: url(image/biere2.jpg) 0 0 fixed no-repeat;
}

/*div#form
{
	background-color: grey;
}
*/